@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --slate-900:#1F314F;
    --slate-500:#68778D;
    --slate-300:#D5E1EF;
    --white:#ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.outfit-bold {
    font-family: "Outfit", sans-serif;
    font-weight: 700; 
    font-size: 22px;
    line-height: 1.2; 
    letter-spacing: 0px;
    color: var(--slate-900);
    margin-bottom: 16px;
}

.outfit-regular {
    font-family: "Outfit", sans-serif;
    font-weight: 400; 
    font-size: 15px;
    line-height: 1.4; 
    letter-spacing: 0.2px;
    color: var(--slate-500);
}

body{
    background-color: var(--slate-300);
}

.card-container{
    min-height: 100vh;        
    display: flex;            
    justify-content: center;  
    align-items: center;
    gap: 24px;  

}

.card-content {
    width: 320px;
    height: 500px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
}

.qr-image-container {
    height: 60%; 
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    
}

.qr-image-file {
    border-radius: 10px; 
}

.card-text-container { 
    text-align: center;
    margin: 0 16px;
}

.attribution { 
    font-size: 11px; text-align: center; 
    margin-bottom: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.card-text-container h3{

}

/*@media (max-width: 375px) { 

}*/